<div class="container">
    <div id="preview" class="preview mt-5"></div>
    <h2 class="mt-5">Post a Comment</h2>
    <p id="replyMessage"></p>
    <form id="commentForm" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="jwtToken" value="{{ jwt_token }}">
        <div class="mb-3">
            <label for="userName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="userName" name="user_name" pattern="[A-Za-z0-9]+" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <div class="toolbar">
                <button class="btn btn-primary" onclick="wrapTag('i')">[i]</button>
                <button class="btn btn-primary" onclick="wrapTag('strong')">[strong]</button>
                <button class="btn btn-primary" onclick="wrapTag('code')">[code]</button>
                <button class="btn btn-primary" onclick="wrapTag('a')">[a]</button>
            </div>
            <label for="text" class="form-label">Comment</label>
            <textarea class="form-control" id="text" name="text" rows="3" required oninput="updatePreview()"></textarea>
        </div>

        <div class="mb-3">
            <label for="homePageUrl" class="form-label">Home Page URL</label>
            <input type="url" class="form-control" id="homePageUrl" name="home_page_url">
        </div>
        <div class="mb-3">
            <label for="photo" class="form-label">Attach Photo</label>
            <input class="form-control" type="file" id="photo" name="photo" accept="image/*">
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Attach File</label>
            <input class="form-control" type="file" id="file" name="file">
        </div>
        <!-- Hidden field for reply ID -->
        <input type="hidden" id="replyId" name="reply_id" value="">
        <div class="g-recaptcha" data-sitekey="6Ld1uEwpAAAAAI_TGl4DY__m1ZpcPcQNZ5KJOfhy"></div>
        <!-- Replace REPLY_ID_VALUE with the actual reply ID or the variable containing it -->
        <button type="submit" class="btn btn-primary submitform">Submit</button>
    </form>
</div>
<script>
    function wrapTag(tag) {
        var textArea = document.getElementById('text');
        var selectedText = textArea.value.substring(textArea.selectionStart, textArea.selectionEnd);
        var beforeText = textArea.value.substring(0, textArea.selectionStart);
        var afterText = textArea.value.substring(textArea.selectionEnd);

        if (tag === 'a') {
            var url = prompt('Enter the URL:', 'http://');
            textArea.value = beforeText + '<a href="' + url + '">' + selectedText + '</a>' + afterText;
        } else {
            textArea.value = beforeText + '<' + tag + '>' + selectedText + '</' + tag + '>' + afterText;
        }
    }
</script>
<script>
function escapeHTML(text) {
    var map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#039;'
    };

    return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}

function updatePreview() {
    var inputText = document.getElementById('text').value;
    document.getElementById('preview').innerHTML = inputText;
}
</script>
<script>
function postComment(event) {
    event.preventDefault();  // Prevent the default form submission

    var formData = new FormData(document.getElementById('commentForm'));
    var textElement = document.getElementById('text');
    if (textElement) {
        var escapedText = escapeHTML(textElement.value);
        formData.set('text', escapedText); // Update the 'text' field in the FormData
    }
    const jwtToken = document.getElementById('jwtToken').value;  // Retrieve the JWT token

    fetch('/comment_add', {
        method: 'POST',
        body: formData,  // Send the form data
        headers: {
            'Authorization': `Bearer ${jwtToken}`  // Include the JWT token in the Authorization header
        },
        credentials: 'include'  // Necessary for cookies (including CSRF token) to be sent
    })
    .then(response => response.json())
    .then(data => {
        if (data.error) {
            throw new Error(data.error);
        }
        console.log(data.message);
        document.getElementById('commentForm').reset();
        window.location.reload();
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

// Add event listener to the form
document.getElementById('commentForm').addEventListener('submit', postComment);

</script>